<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>KEEPERS</title>
<link rel="stylesheet" href="./stylesheet.css">

<!--<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
-->
</head>
<body>
<div class="header">
    <h1 class="text">KEEPER</h1>
</div>
<div class="welcome">

<p>
Hey THERE,
</p>
<p>
WELCOME
<BR>
    TO THE
    <BR>
    BANK OF
    <BR> 
    YOUR THOUGHT'S
</p>

</div>

<div class="sign-up">
    <div class="mid">
    <h1 class="sign">SIGN UP</h1>
    
    <form method="post" action="/" class="form">
        <br>
        <br>
        
        <div class="input">
        <input type="email" placeholder="Enter your email" name="username" autocomplete="false" autofocus="off" class="input">
        <br>
        <br>
        <br>
        <input type="password" placeholder="Enter your password" name="password"  class="input">
        <br>
        <br>
        <br>
        
        <div id="bt">
        
     <button type="submit"  class="button"  > REGISTER </button>
 
 <br>
</div>
<br>
<br>
<br>
    <div class="A" >
        
        <a href="./login" class="A" role="button">Already a user? Login</a>

        </div>
        </div>
    </div>

    </form>
</div>
<script src="../index.js" ></script>
</body>
</html>