body {
  background-image: url("./keepersbg_page-0001_page-0001.jpg");
  background-size: cover;
}

.header {
  width: 100%;
  height: 145px;
  /*background-color: yellow; */
  margin: 0;
  padding: 0;
}

h1 {
  position: relative;
  top: 6px;
  transform: translateY(-20%);
  margin: 0px;
  padding: 0px;
  text-align: top;
  align-items: center;
  justify-content: center;
}

.text {
  position: relative;
  top: 0.5em;
  color: black;
  font-weight: 800;
  font-style: bold;
  /*font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;*/
  font-family: "Roboto Black";
  font-size: 65px;
}

.welcome {
  border-radius: 25%;
  width: 45%;
  height: 55%;
  /*background-color:whitesmoke;*/
  position: absolute;
}

P {
  position: relative;
  left: 5px;
  align-items: left;
  color: black;
  font-family: "Roboto Medium";

  font-size: 45px;
}

.sign-up {
  position: relative;
  width: 405px;
  height: 435px;
  border-radius: 22%;
  background-color: whitesmoke;
  left: 1000px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  border: 3px;
  border-color: black;
  border-style: solid;
}

.form {
  position: relative;
  align-items: center;
  text-align: center;
}

.sign {
  margin: 5px;
  padding: 5px;
  border: 5px;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  font-style: bold;
  color-interpolation-filters: auto;
  text-align: center;
  font-size: 45px;
  gap: 50px;
}

.button {
  display: inline;
  font-size: 20px;
  position: relative;

  width: 258px;
  height: 25px;
  background-color: black;
  color: white;
  align-items: center;
  /*left: 50px;*/
  justify-content: center;
}

.input {
  position: relative;
  display: inline;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 258px;
  height: 25px;
  margin: 5px;
  font-family: Arial, Helvetica, sans-serif;

  /*left: 40px;*/
}

.A {
  display: inline;
  width: 145px;
  height: 25px;
  position: relative;
  /*left: 20px;*/
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-emphasis-color: black;
}
